/* ==== Header */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6333, #f6402e);

}
.header__nav-list {
    list-style: none;
    padding-left: 0;
    
}
.header__nav-item {
    margin: 0 8px;
    position: relative;
}
.header__nav-item ,
.header__nav-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 200;
    
}

.header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
.header__nav {
    display: flex;
    justify-content: space-between;
    
}
.header__nav-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid var(--white-color);
    height: 12px;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
}
.header__nav-item-link > i {
    font-size: 1.7rem;
    margin-right: 9px;
}
/* ========Header QR Code=========== */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0px;
    top: 100%;
    padding: 4px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease 0.8s;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    flex-wrap: wrap;

}
.header__qr-download-img {
    height: 18px;
    margin-left: 8px;
    margin-top: 8px;
}
.header__nav-item--has-qr {
    padding-bottom: 10px;
}
.header__nav-item--has-qr:hover .header__qr {
    display: block;
}
/* ===== Hover Notifications==== */
.header__hover-notify {
    position: absolute;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid rgb(159, 158, 158);
}

.header__hover-notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__hover-notify-header > h3 {
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    color: rgb(138, 138, 138);
    font-weight: 100;
    line-height: 40px;
}
.header__hover-notify-list {
    padding-left: 0px;
}

.header__hover-notify-item {
    
}
.header__hover-notify-item:hover {
    background-color: rgb(241, 241, 241);
}
.header__hover-notify-item--not-read {
    background-color: rgba(238, 78, 46, 0.1);
}
.header__hover-notify-link {
    display: flex;
    text-decoration: none;  
    padding: 12px;
    width: 100%;
}

.header__hover-notify-img {
    width: 48px;
    object-fit: contain;
}

.header__hover-notify-info {
    margin-left: 12px;
    
}

.notify-info-name {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
}

.notify-info-description {
    font-size: 1.2rem;
    color: rgb(138, 138, 138);
}
.header__notify-seeAll {
    text-align: center;
    
}
.header__notify-seeAll-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 12px;
    display: block;
}
